
<nav class="navbar  ">
    <div class="container-fluid">
      <div class="header">
        <div class="header-one ms-5">
      <a class="navbar-brand text-light " routerLink="">
        <img src="https://pre00.deviantart.net/6537/th/pre/f/2015/217/7/a/logo___bloodbank_by_professorkabuto-d94bkh7.png" alt="" width="50" height="50" class="d-inline-block align-text-top">
       
      </a>
    </div>
    <div class="header-two mt-2 ms-3">
      <a class="text-light link mt-3" routerLink="">BLOOD BANK</a>
    </div>
  </div>
    </div>
  </nav>
