
    

<div class="container text-dark text-center mb-5" style="text-align: justify;">

    <div class="row">
        <div class="col-12">
          <H1 class="third-line mt-4">DONATE BLOOD</H1>
          <p class="fourth-line mt-3">“If you’re a blood donor, you’re a hero to someone, somewhere, who received your gracious gift of life.” “Donate! It is a bloody good job.” “Nobody can do everything, but everyone can do something.”</p>

          
        </div>
      </div><hr>
     
    

    <h1 class="mt-5 heading mb-5">View Donor Details </h1>
    <div class="row mt-5">
        <!-- details -->
        <div class="col-6 view">
            <!-- <h4 class="head">Add donor details here</h4> -->
            <!-- <pre>{{donor|json}}</pre> -->
            <ul class="list-group w-75 border border-3 border-danger rounded-5 text-start ">
                <li class="list-group-item ps-5 list">ID : <p>{{donor.id}}</p></li>
                <li class="list-group-item ps-5 list">Name : <p>{{donor.name}}</p></li>
                <li class="list-group-item ps-5 list">Age : <p>{{donor.age}}</p></li>
                <li class="list-group-item ps-5 list">Gender : <p>{{genderName}}</p></li>
                <li class="list-group-item ps-5 list">Weight : <p>{{donor.weight}}</p></li>
                <li class="list-group-item ps-5 list blood-clr">Blood Group : <p>{{donor.blood}}</p></li>
                <li class="list-group-item ps-5 list">District :<p> {{donor.district}}</p></li>
                <li class="list-group-item ps-5 list">Mobile : <p>{{donor.phone}}</p></li>
                <li class="list-group-item ps-5 list">Available Time :<p> {{timeName}}</p></li>
                


              </ul>
            </div>
            
            
            <!-- image -->
            <div class="col-6 imgae">
                <div class="img border border-3 border-danger p-3 rounded-5">

                    <img class="rounded-5"  width="300px" height="300px" [src]="donor.photo" alt="">
                </div>
            </div>
            <div class="col-6 back buttons">

                <button routerLink="" class="btn btn-success mt-3 back-btn w-25" style="float: right;"> Go Back</button>
                <button  routerLink="/donor/update/{{donor.id}}" class="btn btn-warning mt-3 back-btn w-25" style="float: right;"> Edit <i class="fa fa-pencil"></i></button>
                <button  (click)="deleteDonorDetails(donor.id)" class="btn btn-danger mt-3 back-btn w-25" style="float: right;"> Delete <i class="fa fa-trash"></i></button>

            </div>
        
    </div>

</div>
